*{
    margin: 0px;
    padding: 0px;
    border: none;
}
body {
    background-image: url("background.jpg");
    background-size: contain;
}

#boxmain {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box1 {
    display: flex;
    border-radius: 40px;
    height: 550px;
    width: 1200px;
    padding: 30px;
    background : linear-gradient(to top , rgba(255,255,255,0.1) , rgba(255,255,255,0) , rgba(255,255,255,0.1));
    backdrop-filter: blur(10px);
}
#box2 {
    display: inline-block;
    height: 100%;
    width:  55%;
    background-color: transparent;
}
h1 {
    line-height: 75px;
    font-size: 70px;
    color: white;
    font-family: 'Source Code Pro', monospace;
    position: relative;
    top: 85px;
    left: 36px;
    
}
p {
    position: relative;
    top:105px;
    font-size: 25px;
    left: 50px;
    color: white;
    font-family: 'Source Code Pro', monospace;
}
.icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 150px;
    left: 50px;
    cursor: pointer;
}
#box3 {
    display: block;
}
.user-inp {
    display: block;
    width: 500px;
    height: 100px;
    text-align: center;
    outline: none;
    background-color: transparent;
    font-size: 25px;
    font-family: 'Source Code Pro', monospace;
    color: white;
    border-top: 4px solid white;
}
#inp4{
    border-bottom: 4px solid white;
}
::-webkit-input-placeholder{
    color: white;
}
#submit-btn {
    width: 200px;
    height: 50px;
    background:transparent;
    border: 3px solid white;
    position: relative;
    left: 152px;
    top: 42px;
    color: white;
    font-size: large;
    font-weight: 600;
    font-family: 'Source Code Pro', monospace;
    cursor: pointer;
}
#submit-btn:hover {
    border: none;
    box-shadow: 13px 13px 10px black;
}